language: node_js

node_js:
 - "8"
 - "10"

branches:
  only:
    - master

services:
 - mongodb

addons:
  apt:
    sources:
    - mongodb-3.2-precise
    packages:
    - mongodb-org-server

install:
 - npm install

before_install:
 - npm update -q
