lettuce==0.2.20
requests==2.20.0
xmltodict==0.9.0
pymongo==2.7.2
dict2xml==1.3
git+https://github.com/telefonicaid/lettuce-tools.git#egg=lettuce_tools
git+https://visitor:visitor@pdihub.hi.inet/fiware/fiware-iotqaUtils@master
